:root {
  --country-carousel-width: 366px;
}

.country-carousel-items-wrapper {
  width: calc(var(--country-carousel-width) * 3);
  overflow-x: hidden;
}

.country-carousel-slides {
  width: calc(var(--country-carousel-width) - 1rem);
  overflow: hidden;
  height: 300px;
}

.country-carousel-slider {
  transition: 0.5s;
}

.country-slides-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.country-slides-gradient {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6) 80%);
  pointer-events: none;
}

.country-slides-wrapper:hover {
  scale: 1.1;
}

.country-slides-content {
  pointer-events: none;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.country-slides-country-flag img {
  width: 35px;
}

.country-slides-caption {
  color: white;
  font-family: var(--theme-font);
  font-size: 20px;
  font-weight: 600;
}

.country-carousel-buttons {
  width: calc(var(--country-carousel-width) * 3);
  height: 300px;
  pointer-events: none;
  padding: 0 20px;
}

.country-carousel-buttons button {
  pointer-events: all;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-carousel-buttons button i {
  font-size: 25px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.country-carousel-buttons button i:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1200px) {
  :root {
    --country-carousel-width: 450px;
  }

  .country-carousel-items-wrapper {
    width: calc(var(--country-carousel-width) * 2);
  }

  .country-carousel-buttons {
    width: calc(var(--country-carousel-width) * 2);
  }
}

@media screen and (max-width: 993px) {
  :root {
    --country-carousel-width: 366px;
  }
}

@media screen and (max-width: 769px) {
  :root {
    --country-carousel-width: 450px;
  }

  .country-carousel-items-wrapper {
    width: calc(var(--country-carousel-width) * 1);
  }

  .country-carousel-buttons {
    width: calc(var(--country-carousel-width) * 1);
  }
}

@media screen and (max-width: 577px) {
  :root {
    --country-carousel-width: 350px;
  }

  .country-carousel-slides {
    height: 250px;
  }
}
